h1, h6 {
	margin-bottom: 0;
}
h2, h3, h4 {
	margin-bottom: 0.25rem
}
section {
	margin: 1rem 0
}
ul.splitlist {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.footer {
	opacity: 0.5;
	font-size: 0.75em
}
.emoji {
	height: 35px;
	width: 45px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 45px;
	position: relative;
	top: 2px;
}
.credits {
	opacity: 0.6
}
.credits h6 {
	margin-bottom: 0.25rem
}
.credits ul {
	font-size: 0.75rem;
}
article {
	margin: 0 0 1rem 0;
	padding-bottom: 1rem
}
article>header {
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
}
[role=button] {
	padding: 0.5rem 0.8rem;
}
@media only screen and (min-width: 600px) {
	ul.splitlist {
		flex-direction: row;
	}
	ul.splitlist li {
		width: 50%;
	}
}